@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@layer utilities {
  .animate-blink {
    animation: blink 1s steps(1) infinite;
  }
}

@layer base {
  :root {
    --primary: #e6a91d;
    --background: #fafcfd;
    --secondary: #00abbf28;
    --panel: #f1f1f1;
    --uBlack: #2c2413;
    --uGray: #434343;
    --uGrayLight: #666666;
    --uGrayLightLight: #999999;
    --uRed: #dc2626;
    --uGreen: #22c55e;
    --uBlue: #2563eb;
    /* Scores */
    --score-0: #ff3939;
    --score-1: #ff4d4d;
    --score-2: #ff6b4d;
    --score-3: #ff884d;
    --score-4: #ffaa4d;
    --score-5: #ffca4d;
    --score-6: #e6d44d;
    --score-7: #c7e64d;
    --score-8: #a3e64d;
    --score-9: #6ce64d;
    --score-10: #34d159;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #ffc131;
      --background: #202020;
      --secondary: #00abbf28;
      --panel: #393939;
      --uBlack: #0A0F18;
      --uGray: #e7e7e7;
      --uGrayLight: #bebebe;
      --uGrayLightLight: #434343;
      --uRed: #ef4444;
      --uGreen: #7bf1a8;
      --uBlue: #60a5fa;
      /* Scores */
      --score-0: #ef4444;
      --score-1: #ff5c5c;
      --score-2: #ff765c;
      --score-3: #ff956c;
      --score-4: #ffb66c;
      --score-5: #ffd26c;
      --score-6: #e6dd6c;
      --score-7: #c1e66c;
      --score-8: #9ee66c;
      --score-9: #6be66c;
      --score-10: #34d17c;
    }
  }
}


input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

textarea {
  field-sizing: content;
}

/* Scrollbar */
* {
  scrollbar-width: thin;             /* Firefox */
  scrollbar-color: var(--uGrayLight) var(--background);     
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.prose li > p {
  margin: 0 !important;
}


@layer utilities {
  .prose li > p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
